.col.six-col Lady Gaga's Twitter Updates
.col.two-col 20:13:01
.col.four-col.three-row
  @Alex_Kills you're so talented baby. I love the "You and I" painting
.col.four-col.three-row
  To win 2VMAs, Best Video with a Message + Best Female Video for "Born
  This Way" means the world. I have never believed in a work so much.
.col.two-col.four-row.no-padding
  .col.two-col.two-row
    Thank you little monsters for making this week so memorable.
  .col.two-col.two-row
    Thank you little monsters for making this week so memorable.
.col.two-col.four-row
  @Alex_Kills you're so talented baby. I love the "You and I" painting
.col.two-col.four-row
  @Alex_Kills you're so talented baby. I love the "You and I" painting
.col.two-col.four-row
  To win 2VMAs, Best Video with a Message + Best Female Video for "Born
  This Way" means the world. I have never believed in a work so much.
