.full-screen

.col.six-col.title
.col.two-col
  %time.clock
.col.four-col.three-row.with-thumbnail.with-vertical-thumbnail.flippable.flip-y
.col.four-col.three-row.flippable.flip-x
.col.two-col.four-row.no-padding
  .col.two-col.two-row.flippable.flip-x
  .col.two-col.two-row.flippable.flip-y
.col.two-col.four-row.with-thumbnail.with-horizontal-thumbnail.flippable.flip-y
.col.two-col.four-row.flippable.flip-y
.col.two-col.four-row.with-thumbnail.with-horizontal-thumbnail.flippable.flip-y

/ templates
%script#title-template{:type => 'text/x-handlebars-template'}
  %h1
    {{name}}'s Tweets
    %img.avatar{:src => '{{profile_image_url}}'}

%script#content-template{:type => 'text/x-handlebars-template'}
  .content
    .tweet
      %span {{text}}
      %img.avatar.small{:src => '{{user.profile_image_url}}'}
      %time {{timestamp created_at}}

%script#thumbnail-template{:type => 'text/x-handlebars-template'}
  %img.thumbnail{:src => '{{image_url}}', :class => '{{float}} {{orientation}}'}

%script#video-template{:type => 'text/x-handlebars-template'}
  .content.video
    :erb
      <iframe src="http://player.vimeo.com/video/26932477?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1" width="1440" height="810" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>

%script#weather-template{:type => 'text/x-handlebars-template'}
  .content.weather
    %ul
      %li.day.sunny
        %label Sun
        .high 79˚
        .low 59˚
      %li.day.sunny-cloudy
        %label Mon
        .high 79˚
        .low 59˚
      %li.day.sunny
        %label Tue
        .high 79˚
        .low 59˚
      %li.day.sunny
        %label Wed
        .high 79˚
        .low 59˚
      %li.day.sunny-rainy.today
        %label Thu
        .high 79˚
        .low 59˚
      %li.day.sunny
        %label Fri
        .high 79˚
        .low 59˚
      %li.day.sunny
        %label Sat
        .high 79˚
        .low 59˚
