// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$grid-width: 1440px;
$grid-height: 900px;
$col-width: $grid-width / 8;
$row-height: $grid-height / 8;

$color: #484848;
$border-color: #bbb;
$shadow-color: $border-color;
$font: "Helvetica Neue", Arial, sans-serif;
$normal-font: 16px;
$large-font: 24px;

@mixin column($cols, $padding: 8px, $border-width: 1px) {
  width: $cols * $col-width - 2 * $padding - $border-width;
  padding-left: $padding;
  padding-right: $padding;
  border-right: $border-width solid $border-color;
}

@mixin row($rows, $padding: 8px, $border-width: 1px) {
  height: $rows * $row-height - 2 * $padding - $border-width;
  padding-top: $padding;
  padding-bottom: $padding;
  border-bottom: $border-width solid $border-color;
}

* {
  margin: 0;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background: black;

  color: $color;
  font-family: $font;
  font-size: $normal-font;
}

.grid {
  margin: 0 auto;
  width: $grid-width;
  height: $grid-height;
  background: white;
  position: relative;
}

.grid .col {
  float: left;
  position: relative;
  background: white;
  box-shadow: inset 0 0 4px $shadow-color;

  @include column(1);
  @include row(1);
  &.no-padding {
    @include column(1, 0, 0);
  }

  &.two-col {
    @include column(2);
    &.no-padding {
      @include column(2, 0, 0);
    }
  }

  &.four-col {
    @include column(4);
    &.no-padding {
      @include column(4, 0, 0);
    }
  }
  &.six-col {
    @include column(6);
    &.no-padding {
      @include column(6, 0, 0);
    }
  }

  &.two-row {
    @include row(2);
    &.no-padding {
      @include row(2, 0, 0);
    }
  }
  &.three-row {
    @include row(3);
    &.no-padding {
      @include row(3, 0, 0);
    }
  }
  &.four-row {
    @include row(4);
    &.no-padding {
      @include row(4, 0, 0);
    }
  }
}

.grid .col {
  .tweet {
    float: left;

    span {
      font-size: 20px;
      font-weight: bold;
      line-height: 150%;
      color: #f8f8f8;
      background: #404040;
      a {
        color: #eee;
      }
    }
  }
}

.grid .col {
  .full-screen {
    position: absolute;
    width: $grid-width;
    height: $grid-height;
    z-index: 1;
    background: white;
    top: 0;
    left: 0;
  }
}

.title {
  img.avatar {
    float: left;
  }
  h1 {
    font-weight: normal;
    font-size: 64px;
  }
}

.clock {
  text-align: center;
  font-weight: normal;
  font-size: 64px;
}

img.avatar {
  width: 48px;
  height: 48px;
  border-radius: 4px;

  &.small {
    width: 24px;
    height: 24px;
    border-radius: 3px;
  }
}

.col {
  .content {
    display: none;

    &:first-child {
      display: inline-block;
    }
  }
}

.full-screen {
  .content {
    display: none;

    &:first-child {
      display: block;
    }
  }

  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: $grid-width;
  height: $grid-height;

  background: black;
  color: white;
}

.hidden {
  display: none;
}

.weather {
  ul {
    list-style: none;
    padding-left: 0;

    li.day {
      display: inline-block;
      padding-top: 124px;
      width: 14%;
      text-align: center;

      &.sunny {
        background: transparent image-url('weather/sunny.png') top center no-repeat;
      }

      &.sunny-cloudy {
        background: transparent image-url('weather/sunny-cloudy.png') top center no-repeat;
      }

      &.sunny-rainy {
        background: transparent image-url('weather/sunny-rainy.png') top center no-repeat;
      }

      label {
        font-variant: small-caps;
        font-size: 36px;
      }

      .high {
        font-size: 72px;
      }

      .low {
        font-size: 36px;
      }
    }
  }
}

.col {
  &.with-vertical-thumbnail {
    .tweet {
      width: 475px;
    }
  }
}

img.thumbnail {
  border: 1px solid $border-color;
  padding: 1px;

  &.left {
    float: left;
    margin-right: 12px;
  }

  &.right {
    float: right;
    margin-left: 12px;
  }

  &.horizontal {
    width: 340px;
  }

  &.vertical {
    height: 318px;
  }

  &.square {
    height: 150px;
    width: 150px;
  }
}
