// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$grid-width: 1280px;
$grid-height: 800px;
$col-width: 160px;
$row-height: 100px;

$color: #777;
$border-color: #bbb;
$shadow-color: $border-color;
$font: "Helvetica Neue", Arial, sans-serif;
$normal-font: 24px;

@mixin column($cols, $padding: 8px, $border-width: 1px) {
  width: $cols * $col-width - 2 * $padding - $border-width;
  padding-left: $padding;
  padding-right: $padding;
  border-right: $border-width solid $border-color;
}

@mixin row($rows, $padding: 8px, $border-width: 1px) {
  height: $rows * $row-height - 2 * $padding - $border-width;
  padding-top: $padding;
  padding-bottom: $padding;
  border-bottom: $border-width solid $border-color;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background: black;

  color: $color;
  font-family: $font;
  font-size: $normal-font;
}

.grid {
  margin: 0 auto;
  width: $grid-width;
  height: $grid-height;
  background: white;
}

.grid .col {
  float: left;
  background: white;
  box-shadow: inset 0 0 4px $shadow-color;

  @include column(1);
  @include row(1);
  &.no-padding {
    @include column(1, 0, 0);
  }

  &.two-col {
    @include column(2);
    &.no-padding {
      @include column(2, 0, 0);
    }
  }

  &.four-col {
    @include column(4);
    &.no-padding {
      @include column(4, 0, 0);
    }
  }
  &.six-col {
    @include column(6);
    &.no-padding {
      @include column(6, 0, 0);
    }
  }

  &.two-row {
    @include row(2);
    &.no-padding {
      @include row(2, 0, 0);
    }
  }
  &.three-row {
    @include row(3);
    &.no-padding {
      @include row(3, 0, 0);
    }
  }
  &.four-row {
    @include row(4);
    &.no-padding {
      @include row(4, 0, 0);
    }
  }
}

.queue {
  display: none;
}
